<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Page d'accueil</title>
</head>

<body>
  <h1>Page d'accueil</h1>
  <p>Express.js + EJS</p>
  <p>
    Bonjour <?= nom ?>
  </p>
  <p>
    <?# intégration balise HTML ?>

    Bonjour
    <?- nomImportant ?>
  </p>
  <h2>Structures de contrôle</h2>
  <h3>Structures conditionnelles</h3>
  <? if (estConnecte) { ?>
  <p>Vous êtes connecté</p>
  <? } ?>

  <h3>Structures itératives</h3>
  <ul>
    <? for(const elt of nombres){ 
        let parity
        if (elt%2 == 0) {
           parity = elt + ' est pair'
        } else {
            parity = elt + ' est impair'
        }
    ?>
    <li>
      <?= parity ?>
    </li>
    <?}?>
  </ul>

  <h2>Session</h2>
  <p>
    <?= firstname ?>
  </p>
  <?- include('footer.ejs', {year: 2025}) ?>
</body>

</html>