<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personnes</title>
</head>
<body>
    <h1>Formulaire</h1>
    <form action="" method="post">
        <label for="Nom">Nom</label>
        <input type="text" name="nom" id="nom">

        <label for="Nom">Prenom</label>
        <input type="text" name="prenom" id="prenom">

        <label for="Nom">Age</label>
        <input type="text" name="age" id="age">

        <button>Ajouter</button>
    </form>
</body>
</html>